extends ../layouts/layout.pug

block content
  .row#fill-view
    .col
      h3.text-center User List
      table.table.table-cell-center
        thead
          tr
            th Index
            th User
            th Status
            th Created
        tbody
          each user, index in users
            tr
              td= index + 1
              if (user.username)
                td
                  a(href=`/user/profile/${user.username}`)= user.username
              else
                td= user.email
              td
                .dropdown
                  button.btn.btn-secondary.dropdown-toggle#dropdownStatusButton(data-toggle="dropdown",aria-haspopup="true", aria-expanded="false")= user.status
                  .dropdown-menu(aria-labelledby="dropdownStatusButton")
                    a.dropdown-item(href=`/admin/user/change-status/${user.email}/root`) root
                    a.dropdown-item(href=`/admin/user/change-status/${user.email}/admin`) admin
                    a.dropdown-item(href=`/admin/user/change-status/${user.email}/user`) user

              td.moment-date= user.createdAt
