extends ../layouts/layout.pug

block content
  .row.u-flex
    .any.items.u-text-center
      h3 Add Item
      form(action='/gateway/add-item', method='post')
        .row
          .six.items
            label
              .label-body Parent ID:
              input.u-full-width(type='text', value=parentId, name='parentId', required)
          .six.items
            label
              .label-body Title:
              input.u-full-width(type='text', name='title', required)
        .row
          .six.items
            label
              .label-body Index:
              input.u-full-width(type='number', name='ind', step=0.1,required)
          .six.items
            label
              .label-body Type:
              select#type.u-full-width(name='type',required)
                option(disabled, selected, value=undefined) Select a Type
                option(value='folder') Folder
                option(value='problem') Problem
                option(value='text') Text

        #problem
          .row
            .six.items
              label
                .label-body Platform:
                select.u-full-width(name="platform")
                  option(disabled, selected, value=undefined) Select a Platform
                  each val in ojnames.data
                    option(value=val)= val
            .six.items
              label
                .label-body Problem ID:
                input.u-full-width(type='text', name='pid')
          .row
            .any.items
              label
                .label-body Link:
                input.u-full-width(type='url', name='link')

        #body.row
          .any.items
            label
              .label-body Body:
              textarea.u-full-width(name='body')

        .row
          .any.items
            input.right-margin.button-primary(type='submit', value='Insert')
            a.button(href=`/gateway/get-children/${parentId}`) Cancel

block scripts
  script(src='/js/gateway/addItem/index.js')
