extends ../layouts/layout.pug

block content
  .row.align-items-center#fill-view.m-b-1
    .col-sm.text-center
      h3 Add Item
      form(action='/gateway/add-item', method='post')
        .row
          .col-sm-6
            .form-group
              label(for='parentId') Parent ID
              input.form-control(id='parentId',type='text', value=parentId, name='parentId', required)
          .col-sm-6
            .form-group
              label(for='title') Title
              input.form-control(id='title',type='text', name='title', required)
        .row
          .col-sm-6
            .form-group
              label(for='ind') Index
              input.form-control(id='ind',type='number', name='ind', step=0.1,required)
          .col-sm-6
            .form-group
              label(for='type') Type
              select#type.form-control(name='type',required)
                option(disabled, selected, value=undefined) Select a Type
                option(value='folder') Folder
                option(value='problem') Problem
                option(value='text') Text

        #problem
          .row
            .col-sm-6
              .form-group
                label(for='platform') Platform
                select#platform.form-control(name="platform", onchange="addPattern(this.selectedOptions[0].dataset.pattern);")
                  option(disabled, selected, value=undefined) Select a Platform
                  each val in ojnames.data
                    option(value=val.name, data-pattern=val.format )= val.name
            .col-sm-6
              .form-group
                label(for='pid') Problem ID
                input#pid.form-control(type='text', name='pid')
          .form-group
            label(for='link') Link
            input#link.form-control(type='url', name='link')

        #body.form-group
          label(for='body2') Body
          textarea#body2.form-control(name='body')


        input.btn.btn-primary.mr-1.disableOnClick(type='submit', value='Insert')
        a.btn.btn-secondary(href=`/gateway/get-children/${parentId}`) Cancel

block scripts
  script( src='/js/gateway/addItem/index.min.js')
  script.
    function addPattern(pattern) {
      if ( !pattern ) pattern = ".+";
      $('#pid')
      .attr('pattern', pattern)
      .attr('title', `Please match the RegExp: ${pattern}`);
    }
