extends ../layouts/layout.pug

block content
  .row.align-items-center#fill-view.m-b-1
    .col-sm.text-center
      h3 Edit Item
      form(action='/gateway/edit-item', method='post')
        input(type='hidden', value=item._id, name='id')
        .row
          .col-sm-6
            .form-group
              label(for='parentId') Parent ID
              input#parentId.form-control(type='text', value=item.parentId.toString(), name='parentId', required)
          .col-sm-6
            .form-group
              label(for='title') Title
              input#title.form-control(type='text', name='title', value=item.title, required)
        .row
          .col-sm-6
            .form-group
              label(for='ind') Index
              input#ind.form-control(type='number', name='ind', step=0.1, value=item.ind, required)
          .col-sm-6
            .form-group
              label(for='type') Type
              select#type.form-control(required,disabled)
                option(value="folder",selected=item.type==="folder") Folder
                option(value="problem",selected=item.type==="problem") Problem
                option(value="text",selected=item.type==="text") Text
              input(type="hidden", name="type", value=item.type)

        #problem
          .row
            .col-sm-6
              .form-group
                label(for='platform') Platform
                select#platform.form-control(name="platform", onchange="addPattern(this.selectedOptions[0].dataset.pattern);")
                  each val in ojnames.data
                    - if(!val.format) val.format=".+";
                    option(value=val.name, selected=item.platform===val.name, data-pattern=val.format)= val.name
            .col-sm-6
              .form-group
                label(for='pid') Problem ID
                input#pid.form-control(type='text', name='pid', value=item.pid)

          .form-group
            label(for='link') Link
            input#link.form-control(type='url', name='link', value=item.link)

        #body.form-group
          label(for='body2')
          textarea#body2.form-control(name='body')= item.body


        input.btn.btn-primary.mr-1.disableOnClick(type='submit', value='Update')
        button.btn.btn-danger.mr-1(type='button', data-target='#delete', data-toggle="modal") Delete
        a.btn.btn-secondary(href=`/gateway/get-children/${item.parentId}`) Cancel


  #delete.modal.fade
    form(action=`/gateway/delete-item/${item._id}`,method='post')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h3.modal-title Delete Item
          .modal-body
            p Are you sure you want to <b>delete</b> this? If so, please enter the text "<b>Delete</b>" below:
            .form-group
              label(for='item') Enter Text:
              input.form-control#item(name='delete',type='text',required,pattern='Delete',title='Please type the word: Delete')
          .modal-footer
            input(type="hidden" value=item.parentId name='parentId')
            input.btn.btn-danger.mr-1.disableOnClick(type='submit', value='Delete')
            button.btn.btn-secondary(data-dismiss="modal") Cancel

block scripts
  script(src='/js/gateway/addItem/index.js')
  script.
    var pattern = $("#platform").find(":selected")[0].dataset.pattern;
    addPattern(pattern);

    function addPattern(pattern) {
      if ( !pattern ) pattern = ".+";
      $('#pid')
      .attr('pattern', pattern)
      .attr('title', `Please match the RegExp: ${pattern}`);
    }
