extends ../layouts/layout.pug

block content
  .row#fill-view
    .col-sm.text-xs-center
      .small
        if ( root.parentId )
          a.m-r-1(href=`/gateway/get-children/${root.parentId}`) #[i.fa.fa-level-up] Go Up
        if (superUser)
          a(href="/gateway/add-item/"+root._id) #[i.fa.fa-plus] Insert
      .row.flex-items-xs-middle
        .col-sm-4
          span Solved in this folder: #{root.userCount}/#{root.totalCount}
        .col-sm-4
          h2= root.title
      table.table.text-xs-left.table-bordered
        thead
          th Index
          th Title
          th Type
          th Action
          if (login)
            th Done
          if (superUser)
            th Admin
        tbody
          each val, index in items
            tr
              td
                span= index + 1
                if (superUser)
                  span= " | " + val.ind
              if val.type !== "problem" && val.type !== "text"
                td= val.title
                td
                  i.fa.fa-folder-o(aria-hidden="true")
                  span &nbsp; #{val.userCount}/#{val.totalCount}
                td #[a(href="/gateway/get-children/"+val._id) Open]
              else if val.type === "text"
                td= val.title
                td #[i.fa.fa-file-text-o(aria-hidden="true")]
                td #[a(href="/gateway/read-item/"+val._id) Read]
              else if val.type === "problem"
                td= val.platform + " " + val.pid + " - " + val.title
                td #[i.fa.fa-link(aria-hidden="true") ]
                td
                  a(target="_blank", href=val.link) Solve
                  if val.body
                    span= " | "
                    a(href="/gateway/read-item/"+val._id) Hints
              if (login)
                if ( val.type === "problem" || val.type === "text" )
                  td
                    if doneList.indexOf(val._id.toString()) > -1
                      a(href=`/gateway/doneStat/remove-done-list/${val._id}?redirect=${root._id}`)
                        i.fa.fa-check-square(aria-hidden="true")
                    else
                      a(href=`/gateway/doneStat/add-done-list/${val._id}?redirect=${root._id}`)
                        i.fa.fa-square-o(aria-hidden="true")
                    span &nbsp; &nbsp;
                    i.fa.fa-user-times(aria-hidden="true")
                    span= val.userSolved
                else
                  td ---
              if (superUser)
                td #[a(href="/gateway/edit-item/"+val._id) Edit]
