extends ../layouts/layout.pug

block content
  .row.flex-items-xs-middle#fill-view
    .col-xs
      h3.text-xs-center Recently Added/Modified
      table.table.table-cell-center
        thead
          tr
            th Created
            th Modified
            th Title
        tbody
        each p in problems
          tr
            td.moment-date= p.createdAt
            td.moment-date= p.updatedAt
            td
              a(href=`/gateway/get-children/${p.parentId}`) #{p.platform} #{p.pid} #{p.title}
