extends ../layouts/layout.pug

block content
  .row.align-items-center#fill-view
    .col
      h3.text-center Recently Added/Modified
      table.table.table-cell-center
        thead
          tr
            th Created
            th Title
        tbody
        each p in problems
          tr
            td.moment-date= p.createdAt
            td
              a(href=`/gateway/get-children/${p.parentId}`) #{p.platform} #{p.pid} #{p.title}
