extends ../layouts/layout.pug

block content
  .row.u-flex.u-flex-center
    .any.items.u-text-center
      h3 Edit Note: #{slug}
      form(action=`/notebook/edit-note/${slug}`, method='post')
        label
          .label-body Title:
          input.u-full-width(name='title',type='text',required, value=title)
        label
          .label-body Slug:
          input.u-full-width(name='slug',type='text', pattern='[a-z0-9\-]+', title='Small letters, digits and hyphens only',required, value=slug)
        label
          .label-body Body:
          textarea.u-full-width(name='body')= body
        input.button-primary(type='submit', value='Edit Note')
        a.button.left-margin(href=`/notebook/view-note/${slug}`) Done
        a.button.button-danger.left-margin(href=`/notebook/delete-note/${slug}`) Delete
