extends ../layouts/layout.pug

block content
  .row.align-items-center#fill-view
    .col
      h3.text-center Recently Added/Modified
      table.table.table-cell-center
        thead
          tr
            th Created
            th Modified
            th Slug
            th Title
            if ( superUser )
              th Edit
        tbody
          each note in notes
            tr
              td.moment-date= note.createdAt
              td.moment-date= note.updatedAt
              td #[a(href=`/notebook/view-note/${note.slug}`) #{note.slug}]
              td= note.title
              if ( superUser )
                td.u-text-center
                  a(href=`/notebook/edit-note/${note.slug}`)
                    i.fa.fa-edit
