extends ../layouts/layout.pug

block content
  .row.u-flex
    .any.items.u-text-center
      h3 Recently Added/Modified
      table.u-margin-center
        thead
          tr
            th Modified
            th Created
            th Slug
            th Title
            if ( status === 'root' )
              th Edit
        tbody
        each note in notes
          tr
            td.moment-date= note.updatedAt
            td.moment-date= note.createdAt
            td #[a(href=`/notebook/view-note/${note.slug}`) #{note.slug}]
            td= note.title
            if ( status === 'root' )
              td.u-text-center
                a(href=`/notebook/edit-note/${note.slug}`)
                  i.fa.fa-edit
