extends ../layouts/layout.pug

block content
  .row#fill-view
    .col-sm
      if ( superUser )
        .text-xs-center
          a(href='/notebook/add-note') #[i.fa.fa-plus] Add
          a.m-l-1(href=`/notebook/edit-note/${note.slug}`) #[i.fa.fa-edit] Edit
      .markdown-body.
        <h1> #{note.title} </h1>
        <small>  
          Created By: #{note.createdBy} &nbsp;&nbsp;&nbsp;
          Created At: #{note.createdAt.toDateString()} &nbsp;&nbsp;&nbsp;
          Updated By: #{note.lastUpdatedBy} &nbsp;&nbsp;&nbsp;
          Updated At: #{note.updatedAt.toDateString()}
        </small>
        <br/>
        <br/>
        !{note.body}
