extends ../layouts/layout.pug

block content
  .row.align-items-center.justify-content-center#fill-view
    .col.text-center
      h3 Profile Page
      ul.list-group.d-inline-flex
        .list-group-item
          i.fa.fa-envelope.mr-2
          span= email
        .list-group-item
          i.fa.fa-user.mr-2
          span= username
        .list-group-item
          i.fa.fa-key.mr-2
          a(href='/user/profile/change-password') Change Password
        .list-group-item
          i.fa.fa-users.mr-2
          span= status[0].toUpperCase() + status.slice(1)
  table.table.text-center.table-bordered.table-cell-center
    thead
      th Index
      th OJ Name
      th User ID
      th Solve
      th Sync
    tbody
      each val, index in data
        tr
          td= index + 1
          td= val.displayName
          if (!val.userId)
            td
              button.btn.btn-link.setUserName(data-ojname=val.name) Set User ID
            td -
            td -
          else
            td= val.userId[0]
            td= val.solveCount? val.solveCount : 0
            td
              form.form-inline.d-inline(action=`/user/profile/sync-ojsolve/${val.name}`, method="post")
                button.btn.btn-link.disableOnClick(type="submit", title="Synchronize Count")
                  i.fa.fa-refresh.ml-2

  #setUserNameModal.modal(tabindex="-1")
    form(action=`/user/profile/set-userId`, method='post')
      .modal-dialog
        .modal-content
          .modal-header
            h3.modal-title Set User ID
            button.close(type='button', data-dismiss='modal') &times;
          .modal-body
              .form-group.row
                label.col-3.col-form-label(for='ojname') OJ Name
                input.col-9.form-control-plaintext(id='ojname', name='ojname', value="Not set", readonly)
              .form-group.row
                label.col-3.col-form-label(for='userId') User Id
                input.col-9.form-control(id='userId', name='userId')
          .modal-footer
            button.btn.btn-primary.disableOnClick(type="submit") Set User Id
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close

block scripts
  script(src="/js/user/profile.js")
